<%- include('header', {pagetitle: 'Csapat szerkesztése'}) -%>
<%- include('nav') -%>
<div class="vr"></div>
<body>
  <div class="container">
    <div class="row">
      <div class="mb-3">
        <label for="teamName" class="form-label">Név</label>
        <input class="form-control" id="teamName">
      </div>
      <div class="mb-3">
        <label for="teamLeague" class="form-label">Liga</label>
        <input class="form-control" id="teamLeague">
      </div>
      <div class="mb-3">
        <label for="teamNation" class="form-label">Nemzetiség</label>
        <input class="form-control" id="teamNation">
      </div>
    </div>
    <a class="btn btn-primary" href="/" role="button">Mentés és vissza</a>
    <a class="btn btn-outline-danger" href="/" role="button">Vissza</a>
  </div>
</body>
<%- include('footer') -%>