<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">Fantáziák ligája</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <% if (currentpage === 'league') { %><a class="nav-link active" aria-current="page" href="/new">Új csapat</a><% } %>
                    <% if (currentpage === 'team') { %><a class="nav-link active" aria-current="page" href="/team/3/new">Új játékos</a><% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>