<%- include('header', {pagetitle: 'Csapat'}) -%>
<%- include('nav') -%>
<div class="vr"></div>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered table-hover">
                <thead class="text-center">
                <tr>
                    <th>Név</th>
                    <th>Pozíció</th>
                    <th>Nemzetiség</th>
                    <th>Mez</th>
                    <th>Módosítás</th>
                <tr>
                </thead>
                <tbody class="table-group-divider text-center" >
                <tr>
                    <td>Szoboszlai Dominik</td>
                    <td>CM</td>
                    <td>Magyar</td>
                    <td>8</td>
                    <td>
                        <a href="/team/3/edit/0"><i class="fa-regular fa-pen-to-square" style="color: black"></i></a>
                        <a href="#"><i class="fa-solid fa-trash" style="color: black"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Mohamed Salah</td>
                    <td>RW</td>
                    <td>Egyiptomi</td>
                    <td>11</td>
                    <td>
                        <a href="/team/3/edit/1"><i class="fa-regular fa-pen-to-square" style="color: black"></i></a>
                        <a href="#"><i class="fa-solid fa-trash" style="color: black"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Darwin Núñez</td>
                    <td>ST</td>
                    <td>Uruguayi</td>
                    <td>9</td>
                    <td>
                        <a href="/team/3/edit/2"><i class="fa-regular fa-pen-to-square" style="color: black"></i></a>
                        <a href="#"><i class="fa-solid fa-trash" style="color: black"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<%- include('footer') -%>